@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Lato:wght@400;700&display=swap");
/*Colores*/
/*Fonts*/
/*Tamaño de texto*/
/*Font weight*/
/*Backgrounds*/
/*Bordes*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

header {
  width: 100%;
  height: 100%; }
  header nav {
    background-color: #2b948b83; }
    header nav li a {
      color: #FFFFFF;
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 0.8rem;
      margin: 5px; }
      header nav li a .nav-link {
        border: 0px solid transparent; }

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  color: #FFFFFF; }

.hero {
  background-image: linear-gradient(to right top, #051937fd, #004d7ab9, #00879381, #00bf73b7, #a6eb12c5), url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%234dd0c3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  width: 100%;
  height: 600px; }
  .hero .container .hero__titulo {
    font-size: 2.9rem;
    font-weight: 400; }

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
#boxAzul {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF; }

#boxCeleste {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(0, 118, 253, 0.377); }

#boxVerde01 {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(26, 192, 82, 0.377); }

#boxMarron {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(212, 136, 35, 0.377); }

#boxVerde02 {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(42, 214, 200, 0.377); }

#boxRosa {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(180, 79, 121, 0.377); }

.quote {
  width: 40px;
  height: auto; }

footer .container .row .footer__titulo {
  color: #4DD0C3;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.3rem; }

footer .container .row .footer__parrafo {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  width: auto; }

footer .container .row .footer__texto_derecho {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 0.8rem; }

footer .footer__nav {
  background-color: #3952AA; }
  footer .footer__nav .footer__logo__ceti {
    width: 75px;
    height: auto; }
  footer .footer__nav .footer__copyright {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 0.8rem; }
  footer .footer__nav .navbar-toggler {
    border: 0px solid transparent; }

#navbarFooter {
  background-color: #3952AA; }

#instagram {
  width: 22px;
  height: auto; }

#facebook {
  width: 20px;
  height: auto; }

#mail {
  width: 20px;
  height: auto; }

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  color: #FFFFFF; }

.hero {
  background-image: linear-gradient(to right top, #051937fd, #004d7ab9, #00879381, #00bf73b7, #a6eb12c5), url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%234dd0c3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  width: 100%;
  height: 600px; }
  .hero .container .hero__titulo {
    font-size: 2.9rem;
    font-weight: 400; }

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
#boxAzul {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF; }

#boxCeleste {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(0, 118, 253, 0.377); }

#boxVerde01 {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(26, 192, 82, 0.377); }

#boxMarron {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(212, 136, 35, 0.377); }

#boxVerde02 {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(42, 214, 200, 0.377); }

#boxRosa {
  background: rgba(0, 68, 146, 0.377);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1px solid;
  border: 0px solid #FFFFFF;
  background-color: rgba(180, 79, 121, 0.377); }

.quote {
  width: 40px;
  height: auto; }

.main__inicio .hero .container .main__inicio__hero__logo {
  filter: drop-shadow(5px 5px 4px #00000031);
  stroke: #FFFFFF;
  stroke-width: 4;
  width: 400px;
  height: auto;
  z-index: 5; }

.main__inicio .hero .container .main__inicio__hero__subtitulo {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.3rem; }

.main__inicio .hero .container .main__inicio__hero__parrafo {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  width: 510px; }

.main__inicio .hero .main__inicio__hero__clouds {
  filter: drop-shadow(15px -10px 6px #00000031);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  bottom: -200px;
  bottom: 69px; }

.main__inicio .main__servicios {
  background-image: url("../assets/logos/Servicios/Vectores.svg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .main__inicio .main__servicios .main__servicios__titulo {
    color: #0077DF;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-size: 2.9rem;
    z-index: 100; }
  .main__inicio .main__servicios .main__servicios__info {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    width: 320px;
    height: auto;
    color: #505D68;
    margin: 20px;
    width: 450px; }
  .main__inicio .main__servicios .container .main__servicios__card {
    width: 355px;
    height: auto; }
    .main__inicio .main__servicios .container .main__servicios__card .card-title {
      color: #FFFFFF;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 500;
      font-size: 2rem;
      font-size: 1.5rem; }
    .main__inicio .main__servicios .container .main__servicios__card .card-text {
      color: #FFFFFF;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 0.9rem; }

.main__inicio .main__obrasSociales {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234dd0c3' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  .main__inicio .main__obrasSociales .container .main__obrasSociales__titulo {
    color: #4DD0C3;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-size: 2.9rem;
    text-align: left;
    padding: 5px; }

/* Mobile muy chicos */
@media (max-width: 575px) {
  .main__inicio .hero .container .main__inicio__hero__logo {
    width: 300px;
    z-index: 9; }
  .main__inicio .hero .container .main__inicio__hero__subtitulo {
    font-size: 1rem; }
  .main__inicio .hero .container .main__inicio__hero__parrafo {
    width: 360px; }
  .main__inicio .hero .main__inicio__hero__clouds {
    bottom: 12px; } }

/* Mobile chicos*/
@media (min-width: 576px) and (max-width: 767px) {
  .main__inicio .hero .container .main__inicio__hero__parrafo {
    width: 520px; }
  .main__inicio .hero .main__inicio__hero__clouds {
    bottom: 40px; } }

/* Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  .main__inicio .hero .main__inicio__hero__clouds {
    bottom: 60px; } }

/* Desktop */
@media (min-width: 992px) and (max-width: 1400px) {
  .main_inicio .hero .main__inicio__hero__clouds {
    bottom: 80px; } }

.main__equipo .hero .main__equipo__hero__parrafo {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  width: 320px;
  height: auto;
  width: 400px; }

.main__equipo .hero .main__equipo__hero__clouds {
  filter: drop-shadow(15px -10px 6px #00000031);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  bottom: -200px; }

.main__equipo .main__equipo__prof .container {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234dd0c3' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E"); }
  .main__equipo .main__equipo__prof .container .team-member {
    /*overflow: hidden;*/
    text-align: center;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
    transition: 0.3s;
    z-index: 100; }
    .main__equipo .main__equipo__prof .container .team-member:hover {
      transform: scale(1.08);
      box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08); }
    .main__equipo .main__equipo__prof .container .team-member .member-img {
      position: relative;
      overflow: hidden; }
      .main__equipo .main__equipo__prof .container .team-member .member-img:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: url(../assets/team-shape.svg) no-repeat center bottom;
        background-size: contain; }
  .main__equipo .main__equipo__prof .container .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3); }
    .main__equipo .main__equipo__prof .container .social a {
      transition: color 0.3s;
      color: rgba(55, 55, 63, 0.4);
      margin: 15px 12px;
      display: block;
      line-height: 0;
      text-align: center; }
      .main__equipo .main__equipo__prof .container .social a:hover {
        color: rgba(55, 55, 63, 0.4); }
  .main__equipo .main__equipo__prof .container .member-info {
    padding: 10px 15px 20px 15px; }
    .main__equipo .main__equipo__prof .container .member-info h4 {
      color: #4DD0C3;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 5px; }
    .main__equipo .main__equipo__prof .container .member-info span {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 0.8rem;
      color: #eba1eb; }
    .main__equipo .main__equipo__prof .container .member-info p {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 0.8rem;
      padding-top: 15px;
      color: #505D68; }

.main__equipo .main__equipo__testimonios {
  background-image: url("../assets/Testeo fondo.svg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100; }
  .main__equipo .main__equipo__testimonios .main__equipo__testimonios__titulo {
    background-color: #FFFFFF;
    color: #4DD0C3;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-size: 2.9rem;
    text-align: left;
    padding: 0px; }
  .main__equipo .main__equipo__testimonios .main__equipo_testimonios_texto {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    font-size: 0.9rem; }

/* Mobile muy chicos */
@media (max-width: 575px) {
  .main__equipo .hero .container .main__equipo__hero__parrafo {
    width: 280px; }
  .main__equipo .hero .main__equipo__hero__clouds {
    bottom: -170px; } }

/* Mobile chicos*/
@media (min-width: 576px) and (max-width: 767px) {
  .main__equipo .hero .container .main__equipo__hero__parrafo {
    width: 400px; }
  .main__equipo .hero .main__equipo__hero__clouds {
    bottom: -170px; } }

/* Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  .main__equipo .hero .main__equipo__hero__clouds {
    bottom: -160px; } }

/* Desktop */
@media (min-width: 992px) and (max-width: 1400px) {
  .main__equipo .hero .main__equipo__hero__clouds {
    bottom: -140px; } }

.main__ultimasNoticias .hero .main__ultimasNoticias__hero__parrafo {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  width: 320px;
  height: auto;
  width: 400px; }

.main__ultimasNoticias .hero .main__ultimasNoticias__hero__clouds {
  filter: drop-shadow(15px -10px 6px #00000031);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  bottom: -200px; }

.main__ultimasNoticias .main__ultimasNoticias__cards {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%234dd0c3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }
  .main__ultimasNoticias .main__ultimasNoticias__cards .main__ultimasNoticias__cards__body {
    width: 360px;
    height: auto; }
    .main__ultimasNoticias .main__ultimasNoticias__cards .main__ultimasNoticias__cards__body .main__ultimasNoticias__cards__titulo {
      color: #FFFFFF;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 500;
      font-size: 2rem;
      font-size: 1.5rem; }
    .main__ultimasNoticias .main__ultimasNoticias__cards .main__ultimasNoticias__cards__body .main__ultimasNoticias__cards__parrfo {
      color: #FFFFFF;
      font-family: "Lato", sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      width: 320px;
      height: auto;
      color: #505D68;
      width: auto; }
    .main__ultimasNoticias .main__ultimasNoticias__cards .main__ultimasNoticias__cards__body .main__ultimasNoticias__cards__fecha {
      color: #FFFFFF;
      font-family: "Lato", sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      width: 320px;
      height: auto;
      font-weight: 700;
      width: auto; }
    .main__ultimasNoticias .main__ultimasNoticias__cards .main__ultimasNoticias__cards__body .card-footer {
      background-color: #9390be4f; }

/* Mobile muy chicos */
@media (max-width: 575px) {
  .main__ultimasNoticias .hero .main__ultimasNoticias__hero__parrafo {
    width: 360px; }
  .main__ultimasNoticias .hero .main__ultimasNoticias__hero__clouds {
    bottom: -150px; }
  .main__ultimasNoticias .main__ultimasNoticias__cards .main__ultimasNoticias__cards__body {
    width: 360px; } }

/* Mobile chicos*/
@media (min-width: 576px) and (max-width: 767px) {
  .main__ultimasNoticias .hero .main__ultimasNoticias__hero__parrafo {
    width: 480px; }
  .main__ultimasNoticias .hero .main__ultimasNoticias__hero__clouds {
    bottom: -150px; } }

/* Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  .main__ultimasNoticias .hero .main__ultimasNoticias__hero__parrafo {
    width: 480px; }
  .main__ultimasNoticias .hero .main__ultimasNoticias__hero__clouds {
    bottom: -150px; } }

/* Desktop */
@media (min-width: 992px) and (max-width: 1400px) {
  .main__ultimasNoticias .hero .main__ultimasNoticias__hero__parrafo {
    width: 480px; }
  .main__ultimasNoticias .hero .main__ultimasNoticias__hero__clouds {
    bottom: -119px; } }

.main__instalaciones .hero .main__instalaciones__hero__parrafo {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  width: 320px;
  height: auto;
  width: 420px; }

.main__instalaciones .hero .main__instalaciones__hero__clouds {
  filter: drop-shadow(15px -10px 6px #00000031);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  bottom: -200px;
  bottom: -117px; }

.main__instalaciones .main__instalaciones__background {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234dd0c3' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E"); }
  .main__instalaciones .main__instalaciones__background .main__instalaciones__box {
    width: 100%;
    height: auto; }
  .main__instalaciones .main__instalaciones__background .main__instalaciones__titulo {
    color: #FFFFFF;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    padding: 10px; }
  .main__instalaciones .main__instalaciones__background .main__instalaciones__parrafo {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    width: 320px;
    height: auto;
    background-color: #eba1eb;
    width: 400px;
    padding: 10px; }
  .main__instalaciones .main__instalaciones__background .main__instalaciones__img {
    border: 8px solid #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(55, 55, 63, 0.08); }

#main__instalaciones__titulo__juegos {
  background-color: #FFFFFF;
  color: #4DD0C3;
  width: 185px;
  height: auto; }

/* Mobile muy chicos */
@media (max-width: 575px) {
  .main__instalaciones .hero .main__instalaciones__hero__parrafo {
    width: 360px; }
  .main__instalaciones .hero .main__instalaciones__hero__clouds {
    bottom: -150px; }
  .main__instalaciones .container .main__instalaciones__parrafo {
    width: 320px; } }

/* Mobile chicos*/
@media (min-width: 576px) and (max-width: 767px) {
  .main__instalaciones .hero .main__instalaciones__hero__clouds {
    bottom: -150px; }
  .main__instalaciones .container .main__instalaciones__parrafo {
    width: 400px; } }

/* Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  .main__instalaciones .hero .main__instalaciones__hero__clouds {
    bottom: -150px; }
  .main__instalaciones .container .main__instalaciones__parrafo {
    width: 300px; } }

/* Desktop */
@media (min-width: 992px) and (max-width: 1400px) {
  .main__instalaciones .hero .main__instalaciones__hero__clouds {
    bottom: -119px; }
  .main__instalaciones .container .main__instalaciones__parrafo {
    width: 400px; } }

.main__contacto .hero {
  z-index: 2; }
  .main__contacto .hero .main__contacto__hero__parrafo {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    width: 320px;
    height: auto;
    width: 320px; }
  .main__contacto .hero .main__contacto__hero__clouds {
    filter: drop-shadow(15px -10px 6px #00000031);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    bottom: -200px; }

.main__contacto .main_contacto_formulario {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234dd0c3' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  .main__contacto .main_contacto_formulario .main__info__map {
    width: 100%;
    height: auto; }
    .main__contacto .main_contacto_formulario .main__info__map .main__info__map__iframe {
      width: 100%;
      height: 350px; }
  .main__contacto .main_contacto_formulario .form-label {
    background-color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: #4DD0C3; }

.main__contacto .btn {
  background-color: #4DD0C3;
  color: #FFFFFF; }

/* Mobile muy chicos */
@media (max-width: 575px) {
  .main__contacto hero .main__contacto__hero__clouds {
    bottom: -190px; } }

/* Mobile chicos*/
@media (min-width: 576px) and (max-width: 767px) {
  .main__contacto .hero .main__contacto__hero__clouds {
    bottom: -180px; } }

/* Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  .main__contacto .hero .main__contacto__hero__clouds {
    bottom: -160px; } }

/* Desktop */
@media (min-width: 992px) and (max-width: 1400px) {
  .main__contacto .hero .main__contacto__hero__clouds {
    bottom: -140px; } }
