h1{
    font-family: $fuente-titulos;
    font-weight: $font-weight-medium;
    color: $color-blanco;  
}

.hero{
    background-image: $background-gradient;
    width: 100%;
    height: 600px;
    .container{
        .hero__titulo{
            font-size: $fuente-grande;
            font-weight: $font-weight-regular;
                    } 
            }    
}



/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/


#boxAzul{
    background: $color-boxAzul;
    box-shadow: 0 8px 32px 0 $color-shadow;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: $borde-radio-chico;
    border: 0px solid $color-blanco;
    z-index: 4;
}

#boxCeleste{
    background: $color-boxCeleste;
    box-shadow: 0 8px 32px 0 $color-shadow;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: $borde-radio-chico;
    border: 0px solid $color-blanco;
    z-index: 4;
}

#boxVerde01{
    background: $color-boxVerde01;
    box-shadow: 0 8px 32px 0 $color-shadow;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: $borde-radio-chico;
    border: 0px solid $color-blanco;
    z-index: 4;
}

#boxMarron{
    background: $color-boxMarron;
    box-shadow: 0 8px 32px 0 $color-shadow;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: $borde-radio-chico;
    border: 0px solid $color-blanco;
    z-index: 4;
}

#boxVerde02{
    background: $color-boxVerde02;
    box-shadow: 0 8px 32px 0 $color-shadow;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: $borde-radio-chico;
    border: 0px solid $color-blanco;
    z-index: 4;
}

#boxRosa{
    background: $color-boxRosa;
    box-shadow: 0 8px 32px 0 $color-shadow;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: $borde-radio-chico;
    border: 0px solid $color-blanco;
    z-index: 4;
}

.quote{
    width: 40px;
    height: auto;
}