h1{
    font-family: $fuente-titulos;
    font-weight: $font-weight-medium;
    color: $color-blanco;  
}

.hero{
    background-image: $background-gradient;
    width: 100%;
    height: 600px;
    .container{
        .hero__titulo{
            font-size: $fuente-grande;
            font-weight: $font-weight-regular;
                    } 
            }    
}



/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/


#boxAzul{
    @include box_ultimasNoticias;
}

#boxCeleste{
    @include box_ultimasNoticias;
    background-color: $color-boxCeleste;
}

#boxVerde01{
    @include box_ultimasNoticias;
    background-color: $color-boxVerde01;
}

#boxMarron{
    @include box_ultimasNoticias;
    background-color: $color-boxMarron;
}

#boxVerde02{
    @include box_ultimasNoticias;
    background-color: $color-boxVerde02;
}

#boxRosa{
    @include box_ultimasNoticias;
    background-color: $color-boxRosa;
}

.quote{
    width: 40px;
    height: auto;
}