footer{
    .container{
        .row{
            .footer__titulo{
                color: $color-verde02;
                font-family: $fuente-titulos;
                font-weight: $font-weight-medium;
                font-size: $fuente-normal;
            }
            .footer__parrafo{
                @include texto_subtitulo;
                width: auto;
            }
            .footer__texto_derecho{
                @include texto_subtitulo;
            }
        }
    }
    .footer__nav{
        background-color: $color-azul;
    
            .footer__logo__ceti{
                width: 75px;
                height: auto;
                }
    
            .footer__copyright{
                @include texto_subtitulo;
                }
            .navbar-toggler {
                border: 0px solid transparent;
                }
                
    }
}

#navbarFooter{
    background-color: $color-azul;
}

#instagram{
    width: 22px;
    height: auto;
}

#facebook{
    width: 20px;
    height: auto;
}

#mail{
    width: 20px;
    height: auto;
}