header{
    width: 100%;
    height: 100%;
        nav{
            background-color: #2b948b83;
            li{
                a{
                color: rgb(255, 255, 255);
                margin: 5px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 0.8rem;
                    .nav-link {
                        border: 0px solid transparent;
                    }                           
                }
            }
        }
}