header{
    width: 100%;
    height: 100%;
        nav{
            background-color: $color-header;
            li{
                a{
                @include texto_subtitulo;
                margin: 5px; 
                    .nav-link {
                        border: 0px solid transparent;
                    }                           
                }
            }
        }
}