
.main__instalaciones{
    .hero{
        .main__instalaciones__hero__parrafo{
            color: $color-blanco;
            font-family: $fuente-subtitulos-textos;
            font-size: $fuente-pequena;
            font-weight: $font-weight-regular;
            width: 420px;
            height: auto;
            }
        .main__instalaciones__hero__clouds {
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: auto;
            overflow: hidden;
            position: relative;
            bottom: -117px;
            }
        }
    .main__instalaciones__background{
        background-color: $color-blanco;
        background-image: $background-rayas-diagonal;
        .main__instalaciones__box{
            width: 100%;
            height: auto;
        }
        .main__instalaciones__titulo{
            color: $color-blanco;
            font-family: $fuente-titulos;
            font-weight: $font-weight-medium;
            font-size: $fuente-semi-grande;
            padding: 10px;
            }
        .main__instalaciones__parrafo{
            background-color: $color-caja-primario;
            color: $color-blanco;
            font-family: $fuente-subtitulos-textos;
            font-size: $fuente-pequena;
            font-weight: $font-weight-regular;
            width: 400px;
            padding: 10px;
            }
        .main__instalaciones__img{
            border: $borde-radio-muy-grande $color-blanco;
            box-shadow: 0 8px 16px 0 $color-shadow2;
            }    
        }
    }    

    #main__instalaciones__titulo__juegos{
        background-color: $color-blanco;
        color: $color-verde02;
        width: 185px;
        height: auto;
    }


    
/* Mobile muy chicos */
@media(max-width: 575px){
    .main__instalaciones{
        .hero{
            .main__instalaciones__hero__parrafo{
                width: 360px;
                }
            .main__instalaciones__hero__clouds {
                bottom: -150px;
                }
            }
        .container{
            .main__instalaciones__parrafo{
                width: 320px;
                }
            }  
    }
}

/* Mobile chicos*/
@media(min-width: 576px) and (max-width: 767px){
        .main__instalaciones{
            .hero{
                .main__instalaciones__hero__clouds {
                    bottom: -150px;
                    }
                }
            .container{
                .main__instalaciones__parrafo{
                    width: 400px;
                    }
                }
            }    
}



/* Tablets*/
@media(min-width: 768px) and (max-width: 991px){
    .main__instalaciones{
        .hero{
            .main__instalaciones__hero__clouds {
                bottom: -150px;
                }
            }
        .container{
            .main__instalaciones__parrafo{
                width: 300px;
                }
            }
        }    
}


/* Desktop */
@media (min-width: 992px) and (max-width: 1400px){
    .main__instalaciones{
        .hero{
            .main__instalaciones__hero__clouds {
                bottom: -119px;
                }
            }
        .container{
            .main__instalaciones__parrafo{
                width: 400px;
                }
            }
    }        
}