.main__error{
    background-image: $background-gradient-error;
        .container{
                .main__error__hero__monster{
                    filter: drop-shadow(5px 5px 4px #00000031);
                    }
                .main__error__hero__subtitulo{
                    filter: drop-shadow(5px 5px 2px #00000031);
                    color: $color-error;
                    /*@include angulo_texto_error;*/
                    font-family: $fuente-titulos;
                    font-weight: $font-weight-medium;
                    font-size: $fuente-grande-error;
                    }
                .main__error__hero__parrafo1{
                    filter: drop-shadow(5px 5px 2px #00000031);
                    background-color: $color-negro;
                    @include titulo_grande;
                    color: $color-verde02;
                    font-weight: $font-weight-regular;
                    font-size: $fuente-normal;
                    padding: 5px;
                    width: 230px;
                    }
                .main__error__hero__parrafo2{
                    filter: drop-shadow(5px 5px 2px #00000031);
                    background-color: $color-caja-primario;
                    @include texto_subtitulo;
                    color: $color-blanco;
                    font-weight: $font-weight-regular;
                    font-size: $fuente-pequena;
                    padding: 10px;
                    width: 210px;
                    }
                    }                     
        }           
