.main__inicio{
    .hero{
        .container{
            .main__inicio__hero__logo{
                filter: drop-shadow(5px 5px 4px #00000031);
                stroke: $color-blanco;
                stroke-width: 4;
                width: 400px;
                height: auto;
                z-index: 5;
                }
            .main__inicio__hero__subtitulo{
                font-family: $fuente-titulos;
                font-weight: $font-weight-medium;
                font-size: $fuente-normal;
                }
            .main__inicio__hero__parrafo{
                @include texto_subtitulo;
                width: 510px;
                }
            }
        .main__inicio__hero__clouds{
            @include hero_clouds;
            bottom: 69px;
            }  
        }
        .main__servicios{
            background-image: $background-iconos01;
            height: auto;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;       
                .main__servicios__titulo{
                    color: $color-celeste;
                    font-family: $fuente-titulos;
                    font-weight: $font-weight-medium;
                    font-size: $fuente-grande;
                    z-index: 100;
                }
                .main__servicios__info{
                    @include hero_parrafo;
                    color: $color-negro;
                    margin: 20px;
                    width: 450px;
                }
            .container{
                .main__servicios__card{
                    width: 355px;
                    height: auto;
                        .card-title{
                            @include titulo_grande;
                            font-size: $fuente-intermedia;
                            }
                        .card-text{
                            color: $color-blanco;
                            font-family: $fuente-subtitulos-textos;
                            font-weight: $font-weight-regular;
                            font-size: $fuente-pequena;
                            }
                    }
                }
        }
        .main__obrasSociales{
            background-image: $background-cruz;
            .container{
                .main__obrasSociales__titulo{
                    color: $color-verde02;
                    font-family: $fuente-titulos;
                    font-weight: $font-weight-medium;
                    font-size: $fuente-grande;
                    text-align: left;
                    padding: 5px;
                }
            }
        }           
}



/* Mobile muy chicos */
@media(max-width: 575px){
    .main__inicio{
        .hero{
            .container{
                .main__inicio__hero__logo{
                    width: 300px;
                    z-index: 9;
                    }
                .main__inicio__hero__subtitulo{
                    font-size: 1rem;
                    }
                .main__inicio__hero__parrafo{
                    width: 360px;
                    }
                }
            .main__inicio__hero__clouds {
                bottom: 12px;
                }
            }
    }                
}

/* Mobile chicos*/
@media(min-width: 576px) and (max-width: 767px){
    .main__inicio{
        .hero{
            .container{
                .main__inicio__hero__parrafo{
                    width: 520px;
                    }   
                }
            .main__inicio__hero__clouds {
                bottom: 40px;
                }  
            }
    }
}

/* Tablets*/
@media(min-width: 768px) and (max-width: 991px){   
    .main__inicio{
        .hero{
            .main__inicio__hero__clouds {
                bottom: 60px;
                }  
            }
    }
}


/* Desktop */
@media (min-width: 992px) and (max-width: 1400px){    
    .main_inicio{
        .hero{
            .main__inicio__hero__clouds {
                bottom: 80px;
                } 
            }
    }
}