
.main__contacto{
    .hero{
        .main__contacto__hero__parrafo{
            @include hero_parrafo;
            width: 320px;

        } 
    }
    .main__contacto__hero__clouds {
        @include hero_clouds;
    }
    .main__info__map{
        width: 100%;
        height: auto;
        .main__info__map__iframe{
            width: 100%;
            height: 350px;
        }
    }
    .form-label{
        font-family: $fuente-subtitulos-textos;
        font-weight: $font-weight-Bold;
        font-size: $fuente-pequena;
        color: $color-verde02;
    }
    .btn{
        background-color: $color-verde02;
        color:$color-blanco;
    }
}




/* Mobile muy chicos */
@media(max-width: 575px){
    .main__contacto{
        hero{
            .main__contacto__hero__clouds {
                bottom: -190px;
            }
        }
    }    
}

/* Mobile chicos*/
@media(min-width: 576px) and (max-width: 767px){
        .main__contacto{
            .hero{
                .main__contacto__hero__clouds {
                    bottom: -180px;
                    }
                }
            }
}

/* Tablets*/
@media(min-width: 768px) and (max-width: 991px){
    .main__contacto{
        .hero{
            .main__contacto__hero__clouds {
                bottom: -160px;
                }
            }
        }
}


/* Desktop */
@media (min-width: 992px) and (max-width: 1400px){
    .main__contacto{
        .hero{
            .main__contacto__hero__clouds {
                bottom: -140px;
            }
        }
    }
}