
.main__ultimasNoticias{
    .hero{
        .main__ultimasNoticias__hero__parrafo{
            @include hero_parrafo;
            width: 400px;
        }
        .main__ultimasNoticias__hero__clouds {
            @include hero_clouds;
        }
    }
    .main__ultimasNoticias__cards{
        background-image: $background-cruz;
            .main__ultimasNoticias__cards__body{
                width: 360px;
                height: auto;
                    .main__ultimasNoticias__cards__titulo{
                        @include titulo_grande;
                        font-size: $fuente-intermedia;
                        }
                    .main__ultimasNoticias__cards__parrfo{
                        @include hero_parrafo;
                        color: $color-negro;
                        width: auto;
                        }    
                    .main__ultimasNoticias__cards__fecha{
                        @include hero_parrafo;
                        font-weight: $font-weight-Bold;
                        width: auto;
                        }
                    .card-footer{
                        background-color: $color-card-footer;
                        }
            }
    }
}




/* Mobile muy chicos */
@media(max-width: 575px){
    .main__ultimasNoticias{
        .hero{
            .main__ultimasNoticias__hero__parrafo{
                width: 360px;
                }
            .main__ultimasNoticias__hero__clouds {
                bottom: -150px;
                }
            }
        .main__ultimasNoticias__cards{
                .main__ultimasNoticias__cards__body{
                    width: 360px;
                }
        }
    }
}

/* Mobile chicos*/
@media(min-width: 576px) and (max-width: 767px){
    .main__ultimasNoticias{
        .hero{
            .main__ultimasNoticias__hero__parrafo{
                width: 480px;
                }
            .main__ultimasNoticias__hero__clouds {
                bottom: -150px;
                }
            }
        }
}

/* Tablets*/
@media(min-width: 768px) and (max-width: 991px){
    .main__ultimasNoticias{
        .hero{
            .main__ultimasNoticias__hero__parrafo{
                width: 480px;
                }
            .main__ultimasNoticias__hero__clouds {
                bottom: -150px;
                }
            }
        }
}


/* Desktop */
@media (min-width: 992px) and (max-width: 1400px){   
    .main__ultimasNoticias{
        .hero{
            .main__ultimasNoticias__hero__parrafo{
                width: 480px;
                }
            .main__ultimasNoticias__hero__clouds {
                bottom: -119px;
                }
            }
        }
}
