
.main__equipo{
    .hero{
        .main__equipo__hero__parrafo{
            @include hero_parrafo;
            width: 400px;
            }
        .main__equipo__hero__clouds {
            @include hero_clouds;
            }
        }
    
        .main__equipo__prof{
            .container{
                .team-member{
                    /*overflow: hidden;*/
                    text-align: center;
                    border-radius: 5px;
                    background: $color-blanco;
                    box-shadow: 0px 0 30px $color-shadow2;
                    transition: 0.3s;
                    z-index: 100;
                    &:hover {
                        transform: scale(1.08);
                        box-shadow: 0px 0 30px $color-shadow2;
                        }
                        .member-img{
                            position: relative;
                            overflow: hidden;
                            &:after {
                                position: absolute;
                                content: "";
                                left: 0;
                                bottom: 0;
                                height: 100%;
                                width: 100%;;
                                background: $background-onda no-repeat center bottom;
                                background-size: contain;
                                }
                            }
                        }
                        .social{
                        position: absolute;
                        right: -100%;
                        top: 30px;
                        opacity: 0;
                        border-radius: 4px;
                        transition: 0.5s;
                        background: rgba(255, 255, 255, 0.3);
                            a{
                                transition: color 0.3s;
                                color: rgba(55, 55, 63, 0.4);
                                margin: 15px 12px;
                                display: block;
                                line-height: 0;
                                text-align: center;
                                &:hover {
                                    color: $color-texto-secundario;  
                                }
                            }
                        }
                        .member-info {
                            padding: 10px 15px 20px 15px;
                                h4{
                                    color: $color-verde02;
                                    font-family: $fuente-titulos;
                                    font-weight: $font-weight-medium;
                                    font-size: $fuente-intermedia;
                                    margin-bottom: 5px;
                                }
                                span{
                                    font-family: $fuente-subtitulos-textos;
                                    font-weight: $font-weight-Bold;
                                    font-size: $fuente-muy-pequena;
                                    color: $color-caja-primario;
                                }
                                p{
                                    font-family: $fuente-subtitulos-textos;;
                                    font-weight: $font-weight-regular;
                                    font-size: $fuente-muy-pequena;
                                    padding-top: 15px;
                                    color: $color-negro;  
                                }
                        }
                }
            }
            .main__equipo__testimonios{
                background-image: $background-iconos02;
                height: auto;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;       
                z-index: 100;
                .main__equipo__testimonios__titulo{
                    background-color: $color-blanco;
                    color: $color-verde02;
                    font-family: $fuente-titulos;
                    font-weight: $font-weight-medium;
                    font-size: $fuente-grande;
                    text-align: left;
                    padding: 0px;
                }
                .main__equipo_testimonios_texto{
                    @include texto_subtitulo;
                    font-size: $fuente-pequena
                }
            }
}


/* Mobile muy chicos */
@media(max-width: 575px){
    .main__equipo{
        .hero{
            .container{
                .main__equipo__hero__parrafo{
                    width: 280px;
                    }
                }
            .main__equipo__hero__clouds {
                bottom: -170px;
                }
            }
    }    
}

/* Mobile chicos*/
@media(min-width: 576px) and (max-width: 767px){
    .main__equipo{
        .hero{
            .container{
                .main__equipo__hero__parrafo {
                    width: 400px;
                    }
                }
            .main__equipo__hero__clouds {
                bottom: -170px;
                }    
            }
    }
}

/* Tablets*/
@media(min-width: 768px) and (max-width: 991px){
    .main__equipo{
        .hero{
            .main__equipo__hero__clouds {
                bottom: -160px;
                }
            }
            
    }
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1400px){
    .main__equipo{
        .hero{
            .main__equipo__hero__clouds {
                bottom: -140px;
                }
            }        
    }
}