
.main__ultimasNoticias{
    .hero{
        .main__ultimasNoticias__hero__parrafo{
            color: $color-blanco;
            font-family: $fuente-subtitulos-textos;
            font-size: $fuente-pequena;
            font-weight: $font-weight-regular;
            width: 400px;
            height: auto;
        }
        .main__ultimasNoticias__hero__clouds {
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: auto;
            overflow: hidden;
            position: relative;
            bottom: -200px;
        }
    }
    .main__ultimasNoticias__cards{
        background-image: $background-cruz;
            .main__ultimasNoticias__cards__body{
                width: 360px;
                height: auto;
                    .main__ultimasNoticias__cards__titulo{
                        color: $color-blanco;
                        font-family: $fuente-titulos;
                        font-weight: $font-weight-medium;
                        font-size: $fuente-intermedia;
                        }
                    .main__ultimasNoticias__cards__parrfo{
                        color: $color-negro;
                        width: auto;
                        font-family: $fuente-subtitulos-textos;
                        font-weight: $font-weight-regular;
                        font-size: $fuente-pequena;
                        }    
                    .main__ultimasNoticias__cards__fecha{
                        color: $color-blanco;
                        width: auto;
                        font-family: $fuente-subtitulos-textos;
                        font-weight: $font-weight-Bold;
                        font-size: $fuente-muy-pequena;
                        }
                    .card-footer{
                        background-color: $color-card-footer;
                        }
            }
    }
}




/* Mobile muy chicos */
@media(max-width: 575px){
    .main__ultimasNoticias{
        .hero{
            .main__ultimasNoticias__hero__parrafo{
                width: 360px;
                }
            .main__ultimasNoticias__hero__clouds {
                bottom: -150px;
                }
            }
        .main__ultimasNoticias__cards{
                .main__ultimasNoticias__cards__body{
                    width: 360px;
                }
        }
    }
}

/* Mobile chicos*/
@media(min-width: 576px) and (max-width: 767px){
    .main__ultimasNoticias{
        .hero{
            .main__ultimasNoticias__hero__parrafo{
                width: 480px;
                }
            .main__ultimasNoticias__hero__clouds {
                bottom: -150px;
                }
            }
        }
}

/* Tablets*/
@media(min-width: 768px) and (max-width: 991px){
    .main__ultimasNoticias{
        .hero{
            .main__ultimasNoticias__hero__parrafo{
                width: 480px;
                }
            .main__ultimasNoticias__hero__clouds {
                bottom: -150px;
                }
            }
        }
}


/* Desktop */
@media (min-width: 992px) and (max-width: 1400px){   
    .main__ultimasNoticias{
        .hero{
            .main__ultimasNoticias__hero__parrafo{
                width: 480px;
                }
            .main__ultimasNoticias__hero__clouds {
                bottom: -119px;
                }
            }
        }
}
