/*Colores*/
$color-header: #2b948b83;
$color-blanco: #FFFFFF;
$color-negro: #505D68;
$color-card-footer: #9390be4f;
$color-texto-secundario: rgba(55, 55, 63, 0.4);
$color-caja-primario: #eba1eb;

$color-verde01: #AFE26C;
$color-verde02: #4DD0C3;
$color-azul: #3952AA;
$color-celeste: #0077DF;
$color-marron: #FBA86B;
$color-rosa: #F1AAB5;

$color-boxAzul: rgba(0, 68, 146, 0.377);
$color-boxCeleste: rgba(0, 118, 253, 0.377);
$color-boxVerde01: rgba(26, 192, 82, 0.377);
$color-boxVerde02: rgba(42, 214, 200, 0.377);
$color-boxMarron: rgba(212, 136, 35, 0.377);
$color-boxRosa: rgba(180, 79, 121, 0.377);
$color-shadow: rgba( 31, 38, 135, 0.37 );
$color-shadow2: rgba(55, 55, 63, 0.08);
$color-error: #e46f80;



/*Fonts*/
$fuente-titulos: 'Barlow Condensed', sans-serif;
$fuente-subtitulos-textos: 'Lato', sans-serif;

/*Tamaño de texto*/
$fuente-muy-pequena-error: 0.7rem;
$fuente-muy-pequena: 0.8rem;
$fuente-pequena: 0.9rem;
$fuente-normal: 1.3rem;
$fuente-intermedia: 1.5rem;
$fuente-semi-grande: 2rem;
$fuente-grande: 2.9rem;
$fuente-grande-error: 6rem;

/*Font weight*/
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-Bold: 700;



/*Backgrounds*/
$background-gradient: linear-gradient(to right top, #051937fd, #004d7ab9, #00879381, #00bf73b7, #a6eb12c5), url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%234dd0c3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
$background-gradient-error: linear-gradient(to right top, #051937fd, #004d7ab9, #00879381, #00bf73b7, #a6eb12c5) ,url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%234dd0c3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"), url("../assets/Testeo\ fondo.svg");
$background-cruz: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234dd0c3' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$background-rayas-diagonal: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234dd0c3' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
$background-triangulos: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234dd0c3' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$background-rayas: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%234dd0c3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
$background-onda: url(../assets/team-shape.svg);
$background-iconos01: url("../assets/logos/Servicios/Vectores.svg");
$background-iconos02: url("../assets/Testeo\ fondo.svg");



/*Bordes*/
$borde-radio-chico: 1px solid;
$borde-radio-medio: 3px solid;
$borde-radio-grande: 5px solid;
$borde-radio-muy-grande: 8px solid;